<header
  id="navbar"
  class="fixed left-0 top-0 z-[1] flex h-14 w-full items-center justify-between border-b border-black/5 bg-transparent transition-colors duration-300">
  <div class="flex items-center space-x-1.5 px-4">
    <img
      src="/images/veln-black.png"
      id="logo"
      alt="playrig-logo"
      width={35}
      height={35}
      loading="eager"
      fetchpriority="high"
    />
  </div>

  <nav class="flex items-center space-x-10">
    <a data-section="who" href="#who" class="nav-link text-[0.9rem] text-black/70"
      >About</a
    >
    <a data-section="what" href="#what" class="nav-link text-[0.9rem] text-black/70"
      >Agents</a
    >
    <a
      data-section="portfolio"
      href="#portfolio"
      class="nav-link text-[0.9rem] text-black/70">Research</a
    >
    <a
      data-section="portfolio"
      href="#portfolio"
      class="nav-link text-[0.9rem] text-black/70">Litepaper</a
    >
  </nav>

  <div class="flex items-center space-x-4 px-4">
    <button
      id="nav-button"
      class="rounded-sm bg-black px-6 py-2 text-[0.7rem] text-white transition-all ease-in hover:bg-brand-pink">
      LAUNCH APP
    </button>
  </div>
</header>
