---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="h-screen items-center justify-center flex">
    <div class="flex-col flex space-y-3 text-center">
      <h1 class="text-7xl text-white font-neue-machina font-bold uppercase">
        VELN: The Future Of
      </h1>
      <h2 class="text-7xl text-[#25F700] uppercase font-bold font-neue-machina">
        AI Frameworks
      </h2>
    </div>
  </div>
</Layout>
