---
import {Container, ButtonCTA} from "@components/ui";
import Layout from "@layouts/Layout.astro";
import Lottie from "lottie-react";
---

<Layout>
  <section class="relative overflow-hidden" id="hero">
    <Container>
      <div class="w-full max-w-[155px]">
        <div class="flex items-center gap-1.5 rounded-full bg-black px-2 py-[3px]">
          <div class="h-[7px] w-[7px] rounded-full bg-green-500"></div>
          <p class="whitespace-nowrap text-center text-sm text-white">
            $ npx create-veln ai
          </p>
        </div>
      </div>

      <div class="z-[2] mt-1 text-center">
        <h1 class="font-heuvel-groteks text-[4.2rem] tracking-[-0.2rem] text-black/80">
          The Next Typescript
        </h1>
        <h2
          class="-mt-7 font-heuvel-groteks text-[4.2rem] tracking-[-0.2rem] text-black/80">
          Of <span class="text-brand-pink">AI Framework</span>
        </h2>
      </div>

      <div class="z-[2] mt-5 max-w-xl">
        <div>
          <p class="text-center text-lg text-black/80">
            A minimalistic AI solution built for your next-generation tools for AI or
            multi agents, make it —smooth, simple, and powerful.
          </p>
        </div>

        <div class="mt-8 flex items-center space-x-2">
          <button
            class="w-1/2 rounded-sm bg-black px-10 py-3 text-xs text-white transition-all ease-in hover:bg-brand-pink"
            >API DOCUMENTATION</button
          >
          <div class="w-1/2">
            <ButtonCTA text="CREATE AGENTS" className="w-full flex-1 py-3" />
          </div>
        </div>
      </div>
    </Container>
  </section>

  <section class="relative" id="veln-stand">
    <Container className="bg-[#030303]">
      <div class="text-green-500">Hello World</div>
    </Container>
  </section>
</Layout>
