---
import {Container, ButtonCTA} from "@components/ui";
import Layout from "@layouts/Layout.astro";
import VectorSvg from "@components/svg/vector.svg";
---

<Layout>
  <Container className="relative">
    <div class="z-[2] px-10">
      <h1 class="font-heuvel-groteks text-[4.2rem] tracking-[-0.2rem] text-black/80">
        The Next Future
      </h1>
      <h2
        class="font-heuvel-groteks -mt-7 text-[4.2rem] tracking-[-0.2rem] text-black/80">
        Of <span class="text-brand-pink">AI Framework</span>
      </h2>

      <div class="mt-8 max-w-lg">
        <p class="text-lg text-black/80">
          A minimalistic AI solution built for your next-generation AI agent—smooth,
          simple, and powerful.
        </p>
      </div>

      <div class="space-x-5k mt-8 flex max-w-lg items-center space-x-2">
        <button class="w-1/2 rounded-sm bg-black px-10 py-3 text-xs text-white"
          >API DOCUMENTATION</button
        >
        <div class="w-1/2">
          <ButtonCTA text="CREATE AGENTS" className="w-full flex-1 py-3" />
        </div>
      </div>
    </div>

    <VectorSvg class="absolute -bottom-32 z-[1]" />
  </Container>
</Layout>
